.fm {
	font-family: sans-serif;
	text-transform: uppercase;
	color: #9c0d5c;
}

.bs-logo {
	width: 50px;
}

.bs-text {
	font-family: 'Kalam', cursive;
	font-size: 20px;
	color: #ac1c69;

	text-shadow: 2px 5px 10px #B00C65;
	text-align: center;

}

.img-jmbo {
	background-image: url(../Images/slider1.jpg);
	background-size: 100%;
}

.section-header {
	color: #B00C65;

}

.card {
	background-image: linear-gradient(180deg, #ffb7c4, #fdeef1);
}

.btn-card {
	background: white;
	color: Black;
	border-radius: 15px;
	box-shadow: 1px 1px 15px #ec86be;
}

.btn-card:hover {
	background: #ec86be;
	color: white;
	border-radius: 15px;
	box-shadow: 1px 1px 15px white;
}

#card-heading {
	color: #B00C65;
	font-weight: bold;
}

.card-img-top {
	height: 150px;
	width: 150px;

}

.caro-img {
	width: 150px;
}

.hr-style {
	border-right: 5px dotted white;
	height: 80px;

}

.caro-bg {
	background-color: #fdeef1;

}

.carousel-item {
	padding: 5% 15%;
	font-style: italic;
}

.carousel-control-prev-icon   {
	background-color: #B00C65;
}

.carousel-control-next-icon{
	background-color: #B00C65;
}

.carousel-indicators li{
	background-color: #B00C65 ;
}
.reviewer {
	
	
	color:#B00C65;
	text-transform: capitalize;
}